<!DOCTYPE html>
{%extends 'base.html'%}
{% load staticfiles %}

{% block title %}<title>AskKorolev - Login</title>{% endblock %}

{%block user_bar%}
<ul style="margin: 5px" class="nav navbar-right">
  <a class="nav" href="#">Nickname <a href="{% url 'login' %}" class="navbar-link">log out</a> </a>
</ul>
<ul class="nav navbar-right">
  <div style="margin: 7px">
      <img src="{% static 'default_ava.jpg' %}" width="36" height="36">
  </div>
</ul>
{%endblock%}

{%block content%}
<div class="col-xs-9 col-sm-9">
  <div class="row row-offcanvas">
    <div class="col-xs-10 col-sm-10">
      <h2 style="margin-top: 0px;">{{ question.title }}</</h2>
    </div>
    <div class="col-xs-2 col-sm-2">
      <div class="row-offcanvas">
        <div align="right">
          <button type="button" onclick="location.href='{%url 'ask' %}'" class="btn btn-success">Ask!</button>
        </div>
      </div>
    </div>
  </div>
  <br>

  <div class="row row-offcanvas">
      <div class="col-xs-1 col-sm-1" style="padding:0px; width:auto">
        <div><a style="font-size: 32px; color:grey" href="#" class="glyphicon glyphicon-triangle-top"></a></div>
        <div align=center style="font-size: 18px; color:grey" >{{question.likes}}</div>
        <div><a style="font-size: 32px; color:grey" href="#" class="glyphicon glyphicon-triangle-bottom"></a></div>  
      </div>
      <div class="col-xs-2 col-sm-2">
        <div align=center width="115" height="115">
          <img src="{% static 'default_ava.jpg' %}" width="115" height="115">
        </div>
      </div>
    <div class="col-xs-9 col-sm-9" style="font-size: 16px;">
        <p>{{ question.text }}</p>
        <i class="glyphicon glyphicon-user"></i> by <a href="#">{{ question.author.username }}</a>
        | <i class="glyphicon glyphicon-calendar"></i> {{question.date}}
        | <i class="glyphicon glyphicon-tags"></i> Tags : 
        {% for tag in question.tags.all %}
          <a href="{%url 'tag' tag.title%}" ><span class="label label-info btn-inverse">{{tag.title}}</span></a>
        {% endfor%}
    </div>
  </div>
  <div>
    <br>
    <h3>Answers:</h3>
    <hr> 
  </div>
  <div>
    <div class=" row-fluid">
    {% for answer in question.answer_set.all %}
      <div class="col-xs-1 col-sm-1" style="padding:0px; width:auto">
        <div><a style="font-size: 26px; color:grey" href="#" class="glyphicon glyphicon-triangle-top"></a></div>
        <div align=center style="font-size: 16px; color:grey" >{{ answer.likes }}</div>
        <div><a style="font-size: 26px; color:grey" href="#" class="glyphicon glyphicon-triangle-bottom"></a></div>  
      </div>
      <div class="col-xs-1 col-sm-1">
        <div align=center width="74" height="74">
          <img src="{% static 'default_ava3.png' %}" width="74" height="74">
        </div>
      </div>
      <div class="col-xs-10 col-sm-10" style="padding-left: 35px; padding-top: 0px">
        <p style="font-size: 15px;">
        {{ answer.text }}</p>
        <i class="glyphicon glyphicon-user"></i> by <a href="#">{{ answer.author.username }}</a>
        |  <i class="glyphicon glyphicon-calendar"></i> {{ answer.date }}
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
            Correct!
          </label>
        </div>
      </div>
      <br style="clear:both" />
      <hr>
      <br> 
      {% endfor%}
    </div>
  </div>

  <textarea class="form-control" rows="6" placeholder="Your answer..." style="margin-top: 10px"></textarea>
  <br>
  <div align="right">
    <button type="button" class="btn btn-warning">Post answer</button>
  </div>
  <br>
</div>
{%endblock%}

